@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*..............HEADER..................*/
header {
  background-color: #f18e59;
  display: flex;
  width: 100%;
  height: 5em;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.6em;
  position: fixed;
  top: auto;
}
/*..............LOGO...........*/
.logo {
  padding-bottom: 1.5em;
}
/*..............NAVIGATION + NAV-ITEMS.......*/
.nav-items {
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}
/*..............BOUTON LOG IN + TRIAL.....*/
.btn-trial {
  background-color: rgb(2, 32, 47);
  color: #fff;
  padding: 0.9375rem 2rem;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-log {
  color: #fff;
  margin: 0 2px;
  padding: 15px 32px;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: #f18e59;
  font-weight: 700;
  text-transform: uppercase;
}

/*..............DIV BLOCK TITLE..........*/
.title {
  background-color: rgb(241, 142, 89);
  width: 100%;
  height: 25em;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 80px;
}
/*..............TITLE1 = H1.......*/
.title1 {
  text-transform: uppercase;
  font-size: 4em;
  color: #fff;
  text-align: center;
  font-weight: 100;
}
/*..............TITLE2 = H2......*/
.title2 {
  font-weight: 100;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
}
/*.............................SECTION......................*/
.section-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}
.section1,
.section2 {
  padding: 0 70px;
}
.title-section {
  text-transform: uppercase;
  font-size: 1.9em;
  color: #5bb5de;
  font-weight: 600;
  padding-top: 5.1875em;
}
.p-section {
  line-height: 140%;
  font-size: 1.3em;
  margin: 1em 0;
}
h3 {
  font-weight: 400;
  font-size: 1.75em;
  padding-top: 40px;
}
/*.............................SECTION1......................*/
.section1 .form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.section1 {
  padding: 0 3em 0 0;
}
label {
  margin: 0.75em;
}
.form-items {
  font: 300 1em/1.35rem;
  color: #7f8c97;
  padding: 0.6rem 0.8rem;
  background: #fff;
  margin: 0;
  width: 100%;
  border-radius: 0.4rem;
  font-style: italic;
  border: 0.5px solid lightgray;
}
.btn-form {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.btn-form-items {
  background-color: #f18e59;
  color: #fff;
  margin-top: 1em;
  padding: 1.3rem 2em 1.3rem;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-size: 80%;
  line-height: 80%;
}
/*..............SECTION2 *********************************/
.section2 {
}
.title-section2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*........................IMAGE SOCIAL + TEXT...........*/
.social {
  display: flex;
  flex-wrap: wrap;
}
.icon-social {
  width: 70px;
}
.txt-social {
  line-height: 140%;
  font-size: 1.1em;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 0 20px 10px;
}

/*..............FOOTER ...........................*/
.footer {
  background-color: #333;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
}
.list {
  color: #fff;
  font-weight: 400;
  line-height: 1.6rem;
  padding: 0 30px;
}
.list-items-footer {
  list-style-type: none;
  color: #fff;
}
.list-items {
  list-style-type: none;
  color: #fff;
}
.social-icon-items {
  list-style-type: none;
  color: #fff;
  width: 40px;
  height: 40px;
}
.list-items a,
.p-footer {
  color: rgba(211, 211, 211, 0.472);
  list-style-type: none;
  text-decoration: none;
}
.social-media {
  list-style-type: none;
  font-size: 25px;
}
.btn-landing-page {
  list-style-type: none;
}
.btn-landing-page-items {
  background-color: rgb(2, 32, 47);
  margin: 1.7em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 0.9375rem 2rem;
  border: none;
  border-radius: 5px;
}

/********************************copyright ********************************/
.copyright {
  width: 100%;
  line-height: 2.5em;
  background-color: rgb(32, 32, 32);
  display: flex;
}
.copyright-txt {
  padding: 0 10px;
  margin: 0 auto;
  color: #fff;
}
.terms {
  text-decoration: none;
  color: #f18e59;
}
